.navbar {
    grid-area: n;
    background-color:rgb(127, 255, 249);
    padding:10px;
}

.item {
  color: gray;
  font-size: 20px;
}

.item.active {
  color: rgb(185, 159, 14);
  font-weight: bold;
}

.itemWrapper {
  margin-top: 10px;
} 

.navbar :last-child {
  margin-top: 30px;
}

